api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Nginx server"
  homepage = "https://github.com/paketo-buildpacks/nginx"
  id = "paketo-buildpacks/nginx"
  keywords = ["nginx", "server", "distribution"]
  name = "Paketo Buildpack for Nginx Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "bin/configure", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    nginx = "1.27.*"

  [[metadata.dependencies]]
    checksum = "sha256:af58bf806b74fe14d8a69653da066b625c8f5a15c9dc4697bc4a217166290ca5"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.0?checksum=d2e6c8439d6c6db5015d8eaab2470ab52aef85a7bf363182879977e084370497&download_url=https://nginx.org/download/nginx-1.26.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.0.tar.gz"
    source-checksum = "sha256:d2e6c8439d6c6db5015d8eaab2470ab52aef85a7bf363182879977e084370497"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.0_linux_x64_bionic_af58bf80.tgz"
    version = "1.26.0"

  [[metadata.dependencies]]
    checksum = "sha256:d1f015b92e0075d0ebc9eff66b58a5d4fba3540d94829bf8ff9fc7fcb6d1cc0b"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.0?checksum=d2e6c8439d6c6db5015d8eaab2470ab52aef85a7bf363182879977e084370497&download_url=https://nginx.org/download/nginx-1.26.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.0.tar.gz"
    source-checksum = "sha256:d2e6c8439d6c6db5015d8eaab2470ab52aef85a7bf363182879977e084370497"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.0_linux_x64_jammy_d1f015b9.tgz"
    version = "1.26.0"

  [[metadata.dependencies]]
    checksum = "sha256:f9c178e360d09eb0016f93b4ba2a0c0db25f447ae39fb250556142d2940cdc3d"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.1:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.1?checksum=f9187468ff2eb159260bfd53867c25ff8e334726237acf227b9e870e53d3e36b&download_url=https://nginx.org/download/nginx-1.26.1.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.1.tar.gz"
    source-checksum = "sha256:f9187468ff2eb159260bfd53867c25ff8e334726237acf227b9e870e53d3e36b"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.1_linux_x64_bionic_f9c178e3.tgz"
    version = "1.26.1"

  [[metadata.dependencies]]
    checksum = "sha256:dcf6262d6f16f06a9e96b4c866a8274d9d570c08851c891a7cba761d2f75280f"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.1:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.1?checksum=f9187468ff2eb159260bfd53867c25ff8e334726237acf227b9e870e53d3e36b&download_url=https://nginx.org/download/nginx-1.26.1.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.1.tar.gz"
    source-checksum = "sha256:f9187468ff2eb159260bfd53867c25ff8e334726237acf227b9e870e53d3e36b"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.1_linux_x64_jammy_dcf6262d.tgz"
    version = "1.26.1"

  [[metadata.dependency-constraints]]
    constraint = "1.27.*"
    id = "nginx"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.26.*"
    id = "nginx"
    patches = 2

  [metadata.version-lines]
    mainline = "1.27.*"
    stable = "1.26.*"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
