api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Nginx server"
  homepage = "https://github.com/paketo-buildpacks/nginx"
  id = "paketo-buildpacks/nginx"
  keywords = ["nginx", "server", "distribution"]
  name = "Paketo Buildpack for Nginx Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "bin/configure", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    nginx = "1.25.*"

  [[metadata.dependencies]]
    checksum = "sha256:12775fe60e83b5a3a93b124654ea176f21bf750190d45641317ff2b48637bb35"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.4:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.4?checksum=760729901acbaa517996e681ee6ea259032985e37c2768beef80df3a877deed9&download_url=https://nginx.org/download/nginx-1.25.4.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.4.tar.gz"
    source-checksum = "sha256:760729901acbaa517996e681ee6ea259032985e37c2768beef80df3a877deed9"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.4_linux_x64_bionic_12775fe6.tgz"
    version = "1.25.4"

  [[metadata.dependencies]]
    checksum = "sha256:6d24754aecb502245f2fd3a06e1a8fadccef3fed2285a050f495e1219a285a1c"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.4:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.4?checksum=760729901acbaa517996e681ee6ea259032985e37c2768beef80df3a877deed9&download_url=https://nginx.org/download/nginx-1.25.4.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.4.tar.gz"
    source-checksum = "sha256:760729901acbaa517996e681ee6ea259032985e37c2768beef80df3a877deed9"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.4_linux_x64_jammy_6d24754a.tgz"
    version = "1.25.4"

  [[metadata.dependencies]]
    checksum = "sha256:955da83b7c4ce9f840a5138cd277cc92bbde32205154d1c0c028f2fa3a2579ec"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.5:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.5?checksum=2fe2294f8af4144e7e842eaea884182a84ee7970e11046ba98194400902bbec0&download_url=https://nginx.org/download/nginx-1.25.5.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.5.tar.gz"
    source-checksum = "sha256:2fe2294f8af4144e7e842eaea884182a84ee7970e11046ba98194400902bbec0"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.5_linux_x64_bionic_955da83b.tgz"
    version = "1.25.5"

  [[metadata.dependencies]]
    checksum = "sha256:ce1f1d6a126050429633a4d61a39473a579a7109c13b0c440d820ad14dbd86fd"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.5:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.5?checksum=2fe2294f8af4144e7e842eaea884182a84ee7970e11046ba98194400902bbec0&download_url=https://nginx.org/download/nginx-1.25.5.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.5.tar.gz"
    source-checksum = "sha256:2fe2294f8af4144e7e842eaea884182a84ee7970e11046ba98194400902bbec0"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.5_linux_x64_jammy_ce1f1d6a.tgz"
    version = "1.25.5"

  [[metadata.dependencies]]
    checksum = "sha256:e6becd9de4f41cf1d8594611e612839ac3e8b9437ff688c238a0c6b1cbaf68bb"
    cpe = "cpe:2.3:a:nginx:nginx:1.24.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.24.0?checksum=77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d&download_url=https://nginx.org/download/nginx-1.24.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.24.0.tar.gz"
    source-checksum = "sha256:77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.24.0_linux_x64_bionic_e6becd9d.tgz"
    version = "1.24.0"

  [[metadata.dependencies]]
    checksum = "sha256:fa1dfe46df2e9aff7aa05bb56570a8d2a3d10523c3d9a8d154dd6a582cea70d1"
    cpe = "cpe:2.3:a:nginx:nginx:1.24.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.24.0?checksum=77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d&download_url=https://nginx.org/download/nginx-1.24.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.24.0.tar.gz"
    source-checksum = "sha256:77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.24.0_linux_x64_jammy_fa1dfe46.tgz"
    version = "1.24.0"

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "nginx"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.26.*"
    id = "nginx"
    patches = 2

  [metadata.version-lines]
    mainline = "1.25.*"
    stable = "1.26.*"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
