api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Nginx server"
  homepage = "https://github.com/paketo-buildpacks/nginx"
  id = "paketo-buildpacks/nginx"
  keywords = ["nginx", "server", "distribution"]
  name = "Paketo Buildpack for Nginx Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = [
    "buildpack.toml",
    "linux/amd64/bin/build",
    "linux/amd64/bin/detect",
    "linux/amd64/bin/run",
    "linux/arm64/bin/configure",
    "linux/arm64/bin/build",
    "linux/arm64/bin/detect",
    "linux/arm64/bin/run",
    "linux/amd64/bin/configure"
  ]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    nginx = "1.29.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:e29e75fdbcba0a3dba340f8e26d50cf14ecdf786f6d1a8b08b5b7f1b07fb7875"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.2:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.2?checksum=5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437&download_url=https://nginx.org/download/nginx-1.29.2.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.2.tar.gz"
    source-checksum = "sha256:5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.2_linux_amd64_jammy_e29e75fd.tgz"
    version = "1.29.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:b74badcc499b8a33a7f7669cefc40dc19358cb8f43f84e91b137ad26552bd885"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.2:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.2?checksum=5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437&download_url=https://nginx.org/download/nginx-1.29.2.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.2.tar.gz"
    source-checksum = "sha256:5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.2_linux_arm64_jammy_b74badcc.tgz"
    version = "1.29.2"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:f763677b155b99df17c2af7ddcc6dfe705d38b324f353331b507ed029573e1df"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.2:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.2?checksum=5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437&download_url=https://nginx.org/download/nginx-1.29.2.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.2.tar.gz"
    source-checksum = "sha256:5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.2_linux_amd64_noble_f763677b.tgz"
    version = "1.29.2"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:33c7a2af8349175bdaf17ec7d0aba6f705ae165b775dc5d21e8d8bdf2f44df99"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.2:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.2?checksum=5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437&download_url=https://nginx.org/download/nginx-1.29.2.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.2.tar.gz"
    source-checksum = "sha256:5669e3c29d49bf7f6eb577275b86efe4504cf81af885c58a1ed7d2e7b8492437"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.2_linux_arm64_noble_33c7a2af.tgz"
    version = "1.29.2"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:f0d1a3bccf056f6f538a69ca0b52620b4af4376e6aa2471711a1d73d6d743881"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.3:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.3?checksum=9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312&download_url=https://nginx.org/download/nginx-1.29.3.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.3.tar.gz"
    source-checksum = "sha256:9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.3_linux_amd64_jammy_f0d1a3bc.tgz"
    version = "1.29.3"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:1ff28e1c4110430d18d67f791badf001c19bd3e7339e1ded42c6f2d1ba074d60"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.3:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.3?checksum=9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312&download_url=https://nginx.org/download/nginx-1.29.3.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.3.tar.gz"
    source-checksum = "sha256:9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.3_linux_arm64_jammy_1ff28e1c.tgz"
    version = "1.29.3"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:bee42fd4bf070c85251010850aa11b0731b27469cf81db9aa716dc0fd52c4bb5"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.3:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.3?checksum=9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312&download_url=https://nginx.org/download/nginx-1.29.3.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.3.tar.gz"
    source-checksum = "sha256:9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.3_linux_amd64_noble_bee42fd4.tgz"
    version = "1.29.3"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:cac39e19fa3e465c1762769efa50a5b87f87d8759d6378d8995e9ce4f282c8d2"
    cpe = "cpe:2.3:a:nginx:nginx:1.29.3:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.29.3?checksum=9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312&download_url=https://nginx.org/download/nginx-1.29.3.tar.gz"
    source = "https://nginx.org/download/nginx-1.29.3.tar.gz"
    source-checksum = "sha256:9befcced12ee09c2f4e1385d7e8e21c91f1a5a63b196f78f897c2d044b8c9312"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.29.3_linux_arm64_noble_cac39e19.tgz"
    version = "1.29.3"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:887ec96124fea1884df6594d90f4a1c53481fe46ce4f2dc36c19485b19285aaa"
    cpe = "cpe:2.3:a:nginx:nginx:1.28.0:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.28.0?checksum=c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a&download_url=https://nginx.org/download/nginx-1.28.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.28.0.tar.gz"
    source-checksum = "sha256:c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.28.0_linux_amd64_jammy_887ec961.tgz"
    version = "1.28.0"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:b9cb1eca48e3d1a504bc9ac2d304dd4aec3b5a97f86697e6d2142e1efc8403f3"
    cpe = "cpe:2.3:a:nginx:nginx:1.28.0:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.28.0?checksum=c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a&download_url=https://nginx.org/download/nginx-1.28.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.28.0.tar.gz"
    source-checksum = "sha256:c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.28.0_linux_arm64_jammy_b9cb1eca.tgz"
    version = "1.28.0"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:055ca176236c404a0bf975896f5f783f9301ffd2493be08fbed28bd8b6655ff2"
    cpe = "cpe:2.3:a:nginx:nginx:1.28.0:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.28.0?checksum=c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a&download_url=https://nginx.org/download/nginx-1.28.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.28.0.tar.gz"
    source-checksum = "sha256:c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.28.0_linux_amd64_noble_055ca176.tgz"
    version = "1.28.0"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:8ad1f46068fafd06a93a37020ac57cd0b67ba8dfe578c65ec4aab8bab87ec6fa"
    cpe = "cpe:2.3:a:nginx:nginx:1.28.0:*:*:*:*:*:*:*"
    deprecation_date = "2026-04-30T00:00:00Z"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    os = "linux"
    purl = "pkg:generic/nginx@1.28.0?checksum=c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a&download_url=https://nginx.org/download/nginx-1.28.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.28.0.tar.gz"
    source-checksum = "sha256:c6b5c6b086c0df9d3ca3ff5e084c1d0ef909e6038279c71c1c3e985f576ff76a"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.28.0_linux_arm64_noble_8ad1f460.tgz"
    version = "1.28.0"

  [[metadata.dependency-constraints]]
    constraint = "1.29.*"
    id = "nginx"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.28.*"
    id = "nginx"
    patches = 2
  [metadata.version-lines]
    mainline = "1.29.*"
    stable = "1.28.*"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "io.buildpacks.stacks.noble"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"