api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Nginx server"
  homepage = "https://github.com/paketo-buildpacks/nginx"
  id = "paketo-buildpacks/nginx"
  keywords = ["nginx", "server", "distribution"]
  name = "Paketo Buildpack for Nginx Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "bin/configure", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    nginx = "1.21.*"

  [[metadata.dependencies]]
    checksum = "sha256:0b537e550ad3d95a88963c6aa097445f441fb46b29b7447203dd749cc37d782d"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.0?checksum=5ed44d45943272a4e8a5bcf4434237210f2de31b903fca5e381c1bbd7eee1e8c&download_url=https://nginx.org/download/nginx-1.25.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.0.tar.gz"
    source-checksum = "sha256:5ed44d45943272a4e8a5bcf4434237210f2de31b903fca5e381c1bbd7eee1e8c"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.0_linux_x64_bionic_0b537e55.tgz"
    version = "1.25.0"

  [[metadata.dependencies]]
    checksum = "sha256:ef33745279ac88b8decad7e6e00ba794b4097f5cf0608ce153fd002663c6dde0"
    cpe = "cpe:2.3:a:nginx:nginx:1.25.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.25.0?checksum=5ed44d45943272a4e8a5bcf4434237210f2de31b903fca5e381c1bbd7eee1e8c&download_url=https://nginx.org/download/nginx-1.25.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.25.0.tar.gz"
    source-checksum = "sha256:5ed44d45943272a4e8a5bcf4434237210f2de31b903fca5e381c1bbd7eee1e8c"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.25.0_linux_x64_jammy_ef337452.tgz"
    version = "1.25.0"

  [[metadata.dependencies]]
    checksum = "sha256:e6becd9de4f41cf1d8594611e612839ac3e8b9437ff688c238a0c6b1cbaf68bb"
    cpe = "cpe:2.3:a:nginx:nginx:1.24.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.24.0?checksum=77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d&download_url=https://nginx.org/download/nginx-1.24.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.24.0.tar.gz"
    source-checksum = "sha256:77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.24.0_linux_x64_bionic_e6becd9d.tgz"
    version = "1.24.0"

  [[metadata.dependencies]]
    checksum = "sha256:fa1dfe46df2e9aff7aa05bb56570a8d2a3d10523c3d9a8d154dd6a582cea70d1"
    cpe = "cpe:2.3:a:nginx:nginx:1.24.0:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.24.0?checksum=77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d&download_url=https://nginx.org/download/nginx-1.24.0.tar.gz"
    source = "https://nginx.org/download/nginx-1.24.0.tar.gz"
    source-checksum = "sha256:77a2541637b92a621e3ee76776c8b7b40cf6d707e69ba53a940283e30ff2f55d"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.24.0_linux_x64_jammy_fa1dfe46.tgz"
    version = "1.24.0"

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "nginx"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.24.*"
    id = "nginx"
    patches = 2
  [metadata.version-lines]
    mainline = "1.25.*"
    stable = "1.24.*"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
