api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Nginx server"
  homepage = "https://github.com/paketo-buildpacks/nginx"
  id = "paketo-buildpacks/nginx"
  keywords = ["nginx", "server", "distribution"]
  name = "Paketo Buildpack for Nginx Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "bin/configure", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    nginx = "1.27.*"

  [[metadata.dependencies]]
    checksum = "sha256:4108c2dafad9c37f6ac1de676bf933e174826dd143a1303e7f9ae5d4ba6a9dc9"
    cpe = "cpe:2.3:a:nginx:nginx:1.27.4:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.27.4?checksum=294816f879b300e621fa4edd5353dd1ec00badb056399eceb30de7db64b753b2&download_url=https://nginx.org/download/nginx-1.27.4.tar.gz"
    source = "https://nginx.org/download/nginx-1.27.4.tar.gz"
    source-checksum = "sha256:294816f879b300e621fa4edd5353dd1ec00badb056399eceb30de7db64b753b2"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.27.4_linux_x64_jammy_4108c2da.tgz"
    version = "1.27.4"

  [[metadata.dependencies]]
    checksum = "sha256:2d7c7d69bb56ed724e8280d127c8c7545da69a3db5e28b2d35caf5e6e8e223d7"
    cpe = "cpe:2.3:a:nginx:nginx:1.27.5:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause", "BSD-2-Clause-NetBSD"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.27.5?checksum=e96acebb9c2a6db8a000c3dd1b32ecba1b810f0cd586232d4d921e376674dd0e&download_url=https://nginx.org/download/nginx-1.27.5.tar.gz"
    source = "https://nginx.org/download/nginx-1.27.5.tar.gz"
    source-checksum = "sha256:e96acebb9c2a6db8a000c3dd1b32ecba1b810f0cd586232d4d921e376674dd0e"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.27.5_linux_x64_jammy_2d7c7d69.tgz"
    version = "1.27.5"

  [[metadata.dependencies]]
    checksum = "sha256:a1f206451cd702f5a0fdee49f0183da5507b7be2a0f10d494e6bc4752eb42187"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.2:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.2?checksum=627fe086209bba80a2853a0add9d958d7ebbdffa1a8467a5784c9a6b4f03d738&download_url=https://nginx.org/download/nginx-1.26.2.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.2.tar.gz"
    source-checksum = "sha256:627fe086209bba80a2853a0add9d958d7ebbdffa1a8467a5784c9a6b4f03d738"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.2_linux_x64_jammy_a1f20645.tgz"
    version = "1.26.2"

  [[metadata.dependencies]]
    checksum = "sha256:5afb56179891f7d530d2c133a8c4a3831f4a4c8dca42e47c2de976589223f103"
    cpe = "cpe:2.3:a:nginx:nginx:1.26.3:*:*:*:*:*:*:*"
    id = "nginx"
    licenses = ["BSD-2-Clause"]
    name = "Nginx Server"
    purl = "pkg:generic/nginx@1.26.3?checksum=69ee2b237744036e61d24b836668aad3040dda461fe6f570f1787eab570c75aa&download_url=https://nginx.org/download/nginx-1.26.3.tar.gz"
    source = "https://nginx.org/download/nginx-1.26.3.tar.gz"
    source-checksum = "sha256:69ee2b237744036e61d24b836668aad3040dda461fe6f570f1787eab570c75aa"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/nginx/nginx_1.26.3_linux_x64_jammy_5afb5617.tgz"
    version = "1.26.3"

  [[metadata.dependency-constraints]]
    constraint = "1.27.*"
    id = "nginx"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.26.*"
    id = "nginx"
    patches = 2

  [metadata.version-lines]
    mainline = "1.27.*"
    stable = "1.26.*"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
